.btn-neutral {
  background: #fafafa;
  border: 0;
  box-shadow: none;
}

.wy-nav-content-wrap {
  background: white;
}

.wy-nav-content {
  background: transparent;
  margin: auto;
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
  color: #424242;
}

.wy-side-nav-search input[type="text"] {
  border: 0;
  padding: 1em;
}

.wy-nav-side {
  background-color: #fafafa;
  border-right: 1px solid #efefef;
}

.wy-menu-vertical a {
  color: #484848;
}

.wy-side-nav-search {
  background-color: white;
}

.wy-menu-vertical li.current {
  background: transparent;
}

.wy-menu-vertical a:hover,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover,
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.toctree-l2.current > a
{
  background-color: white;
}

.wy-menu-vertical li.toctree-l1.current > a {
  background: white;
  border: 0;
}

.wy-menu-vertical li.current a {
  background: white;
  color: black;
}
